apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: ecommercestageacr.azurecr.io/payment-service:v1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8400
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "384Mi"
            cpu: "500m"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin:9411/"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://cloud-config:9296"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-discovery:8761/eureka/"
        - name: JAVA_TOOL_OPTIONS
          value: "-Deureka.client.serviceUrl.defaultZone=http://service-discovery:8761/eureka/"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        livenessProbe:
          httpGet:
            path: /payment-service/actuator/health
            port: 8400
          initialDelaySeconds: 300
          periodSeconds: 15
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /payment-service/actuator/health
            port: 8400
          initialDelaySeconds: 300
          periodSeconds: 10
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
  - name: http
    port: 8400
    targetPort: 8400




