apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-discovery
  labels:
    app: service-discovery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-discovery
  template:
    metadata:
      labels:
        app: service-discovery
    spec:
      containers:
      - name: service-discovery
        image: ecommercestageacr.azurecr.io/service-discovery:v1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8761
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "384Mi"
            cpu: "500m"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin:9411/"
---
apiVersion: v1
kind: Service
metadata:
  name: service-discovery
spec:
  type: ClusterIP
  selector:
    app: service-discovery
  ports:
  - name: http
    port: 8761
    targetPort: 8761


